{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Point of Interest App to list Sports Grounds  </p>
    <p class="box">
      <i class="fas fa-car fa-10x" style="color:darkred"></i>
      <i class="fas fa-futbol fa-10x" style="color:gold"></i>
      <i class="fas fa-flag fa-10x" style="color:skyblue"></i>
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column">
        <figure class="image is-square">
          <img src="/images/gaa-256.jpg">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-square">
          <img src="/images/soccer-256.jpg">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-square">
          <img src="/images/golf-256.jpg">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-square">
          <img src="/images/rugby-256.jpg">
        </figure>
      </div>
    </div>
  </div>
</section>