{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{sportground.title}}
    </div>
    {{> list-clubs}}
    {{> add-club}}
  </div>
  <div class="column">
    {{> sportground-image }}
  </div>
  <div>
      {{> map}}
    </div>
</section>

