<form action="/dashboard/addsportground" method="POST">
  <div class="field">
    <label class="label">SportGround Title</label> <input class="input" type="text" placeholder="Enter SportGround title" name="title">
  </div>
  <button class="button is-link">Add SportGround</button>
</form>
